# Sprint2 Part2 Colab(1) - 파이썬 기초  
> 목표: 데이터 구조 감각 O / 코드 외우기 X  
> 내용: 기본적인 Python의 작동 원리와 코드

## Python 기초  
- 파이썬은 **인터프리터(Interpreter) 형**으로 실행되며, **코드 한 줄 한 줄 순차적으로 실행** 된다.  
- 사용성이 좋은 **객체지향 언어**의 대표적 언어이다.  

| 언어 | 실행 방식 | 패러다임 | 주요 특징 | 주 사용 분야 |
|------|------------|------------|------------|----------------|
| Python | 인터프리터| 객체지향 + 절차지향 | 문법이 쉽고 가독성이 높음, 배우기 쉬운 객체지향 언어, 라이브러리 매우 풍부 | 머신러닝, 딥러닝, 데이터분석, 웹개발, 자동화 |
| Java | 컴파일 후  | 객체지향 | 안정성 높음, 플랫폼 독립적, 대규모 시스템에 강함 | 기업용 서버, 안드로이드 앱 개발 |
| C | 컴파일러 | 절차지향 | 실행 속도 매우 빠름, 메모리 직접 제어 가능 | 게임엔진, 운영체제, 임베디드 시스템 |
| C++ | 컴파일러 | 객체지향 + 절차지향 | C 기반 + 객체지향 지원, 고성능 | 게임 개발, 금융 시스템, 고성능 프로그램 |
| JavaScript | 인터프리터 | 객체지향 + 함수형 | 웹 브라우저에서 실행, 프론트엔드 핵심 언어 | 웹 프론트엔드, 서버(Node.js) |

----------
## 기본 타입 & 연산  
파이썬에서는 데이터를 특정 변수로 지정하고, 연산 작업이 가능하다.

### 기본 타입 확인  
- int(정수), float(실수), str(문자열), bool(True/False)  
- 'type()'으로 데이터 형식 확인

In [25]:
print('Hello, World!')

Hello, World!

In [26]:
def sum_a(a, b):
 c = a + b
 print(c)

sum_a(20, 280)

300

In [27]:
# 숫자와 문자, bool 형식을 각 변수에 지정 후 확인

a = 10 # int
b = 3.14 # float
c = "Hi, wassup!" # str
d = True # bool

print('변수 a type:', type(a), a)
print('변수 b type:', type(b), b)
print('변수 c type:', type(c), c)
print('변수 d type:', type(d), d)

변수 a type: <class 'int'> 10
변수 b type: <class 'float'> 3.14
변수 c type: <class 'str'> Hi, wassup!
변수 d type: <class 'bool'> True

In [28]:
num_a = 15
float_b = 8.54
word = 'python'
d = False

print(type(num_a), type(float_b), type(word), type(d))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

### 기본 연산자  
| 덧셈 | 뺄셈 | 나누기 | 곱하기 | 제곱 | 몫 | 나머지 | 일치여부 | 불일치 여부 |
| ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- |
| + | - | / | * | ** | // | % | == | != |

In [29]:
# 연산 결과를 각 변수에 담는다.

x1 = 10 + 5
x1

15

In [30]:
x2 = 10 - 5
x2

5

In [31]:
x3 = 10 / 5
x3

2.0

In [32]:
x4 = 10 * 5
x4

50

In [33]:
x5 = 10 ** 5
x5

100000

In [34]:
x6 = 10 // 3
x6

3

In [35]:
x7 = 10 % 3
x7

1

In [63]:
# 비교 연산자 ==, !=, >, <, >=, <= 사용 가능
b1 = x1 == x2
b1

False

In [37]:
b2 = x1 != x2
b2

True

### 연습 문제  

1. 50을 14로 나눈 나머지를 구하여 변수 a1에 지정
2. 57을 10으로 나누었을때의 몫을 구하여 변수 a2에 지정
3. a1과 a2의 대소 구분을 <, >, == 으로 출력

<details>  
<summary> 풀이 </summary>  

``` a1 = 50 % 14 ```  
``` a2 = 57 // 10 ```  
```
b1 = a1 < a2   
b2 = a1 > a2   
b3 = a1 == a2  

print(a1, a2)
print(b1, b2, b3)
```  
```
x6 % 2 == 0
```

</details>

In [38]:
# 1. 50을 14로 나눈 나머지를 구하여 변수 a1에 지정
# (이곳을 지우고 코드 적은 뒤 런타임 실행)
a1 = 50 % 14
a1

8

In [39]:
# 57을 10으로 나누었을때의 몫을 구하여 변수 a2에 지정
a2 = 57 // 10
a2

5

In [40]:
# a1과 a2의 대소 구분을 <, >, == 으로 출력
b1 = a1 < a2
b2 = a1 > a2
b3 = a1 == a2
print(b1, b2, b3)

False True False

In [64]:
# x6이 짝수인지 홀수인지 True, False로 출력
c1 = x6 % 2
c2 = c1 == 0
c2

False

In [69]:
# a1 + a2를 a3변수로 지정하고 홀수인지 짝수인지 출력
a3 = a1 + a2
c3 = a3 % 2
c4 = c3 == 0
c4

False

## 자료형 데이터

### 핵심 자료형 3가지  
자료형은 정수, 실수, 문자열, 튜플, 리스트, 딕셔너리 등이 있지만, 핵심적으로 다룰 튜플, 리스트, 딕셔너리를 알아본다.


  
| 구분       | 튜플      | 리스트    | 딕셔너리     |
| -------- | ------- | ------ | -------- |
| 기호       | ( )     | [ ]    | { }      |
| 수정 여부 | immutable | mutable | mutable |
| 저장 형태    | 값       | 값      | 키 : 값    |
| 사용 예     | 좌표, 고정값 | 데이터 목록 | 이름-정보 매칭 |

#### 1) 튜플(tuple)  
튜플은 여러 값을 하나로 묶는 자료형으로, 튜플 내의 값은 수정할 수 없다.  
- 수정이 불가능 (immutable), 고정된 데이터 묶음에 사용

In [42]:
# 튜플(tuple)
tu = (1, 2, 3)
print(type(tu), tu)

<class 'tuple'> (1, 2, 3)

In [105]:
# 튜플 형식은 값이 하나더라도 반드시 콤마(,)를 사용하여 감싸준다.
tu = ((1,2),(3))
tu2 = (1,)
tu3 = (3)
print(type(tu), type(tu2), type(tu3), tu, tu2, tu3)

<class 'tuple'> <class 'tuple'> <class 'int'> ((1, 2), 3) (1,) 3

#### 2) 리스트[list]  
리스트내의 값들은 수정할 수 있으며, 가공할 때 주로 사용한다.  
- 수정 가능 (mutable), 가공이 필요한 데이터에 사용

In [67]:
# 리스트[list]
li = [1,2,3,4,5]
li2 = [[1,2], [3,4], [5]]

print(type(li), type(li2), li, li2)

<class 'list'> <class 'list'> [1, 2, 3, 4, 5] [[1, 2], [3, 4], [5]]

In [70]:
li3 = [5]
li4 = []
print(type(li3), li3, type(li4), li4)

<class 'list'> [5] <class 'list'> []

#### 3) 딕셔너리{dictionary}  
Key:Value로 대응되는 한 쌍의 값으로 이루어져 있다.
- 수정 가능 (mutable), Key를 통해 Value에 접근

In [82]:
# 딕셔너리{dictionary} 하나의 키에 여러 값을 넣을 수 있지만, 키는 하나만 존재한다.
# 여러개의 딕셔너리를 리스트 안에 저장하는 데이터 형식을 주로 사용한다.
di = {'no':1 , 'name':'guhyeon', 'age':14, 'class':'wassup'}
di2 = [{'name':'guhyeon', 'age': 14, 'class': 'wassup1'},
       {'name':'kim', 'age': 16, 'class': 'wassup2'},
       {'name':'lee', 'age': 18, 'class': 'wassup1'}]
print(type(di), type(di2))
print(di)
print(di2)
print(di2[2]['age'])

<class 'dict'> <class 'list'>
{'no': 1, 'name': 'guhyeon', 'age': 14, 'class': 'wassup'}
[{'name': 'guhyeon', 'age': 14, 'class': 'wassup1'}, {'name': 'kim', 'age': 16, 'class': 'wassup2'}, {'name': 'lee', 'age': 18, 'class': 'wassup1'}]
18

### 인덱스 구조  
자료형에는 각 값마다 index 번호가 부여되어 있다.  
인덱스 번호는 0부터 시작하며, 끝 인덱스는 -1부터 적용한다.  

e.g.) [1,2,3,4,5]의 인덱스는 각 0,1,2,3,4이며 -5,-4,-3,-2,-1이기도 하다.

In [107]:
tu_x = ((1, 2, 3) ,('x', 'y', 3), 2)

In [110]:
tu_l = ([1, 2], (3), 4)

In [111]:
tu_l[0][1] = 5
tu_l

([1, 5], 3, 4)

In [90]:
tu[0]

(1, 2)

In [91]:
tu[0][1]

2

In [109]:
tu_x[1][0], type(tu_x[1][0])

('x', str)

In [93]:
li2

[[1, 2], [3, 4], [5]]

In [95]:
li2[-2][-1], type(li2[-2][-1])

(4, int)

In [96]:
li2[-2], type(li2[-2])

([3, 4], list)

In [48]:
# 딕셔너리 구조는 Key값으로 접근한다.
di['age']

14

In [97]:
di2

[{'name': 'guhyeon', 'age': 14, 'class': 'wassup1'},
 {'name': 'kim', 'age': 16, 'class': 'wassup2'},
 {'name': 'lee', 'age': 18, 'class': 'wassup1'}]

In [104]:
di2[1]['class']

'wassup2'

In [49]:
# 리스트 안의 딕셔너리는 리스트의 인덱스를 먼저 호출한 뒤 딕셔너리 Key를 호출한다.
di2[2]['age']

18

### 연습 문제

<details>
<summary> Hint </summary>  

```
tu[1], tu[-3]
```
```
li[2] = 15
li
```
```
di[1]['age']
```
</details>

In [92]:
# 두번째 인덱스를 정수와 음수로 각각 출력한다.

tu = (10, 20, 30, 40)
tu[1], tu[-2]

(20, 30)

In [112]:
# 세번째 인덱스의 값을 15로 수정하고, 결과를 출력한다.

li = [5, 10, 14, 20]
li[2] = 15
li

[5, 10, 15, 20]

In [115]:
# A02의 age를 조회한다.
di = [{'ID':'A01', 'name':'lee', 'age':24},
      {'ID':'A02', 'name':'kim', 'age':21},
      {'ID':'A03', 'name':'park', 'age':23}]

di[1]['age']

(24, 21, 23)

## 제어문과 리스트 컴프리헨션 다루기  

파이썬에서는 if, for, while과 같은 제어문들이 있다.  
가장 많이 쓰이는 if 조건문과 for 반복문을 연습해 본다.

### if 조건문  

특정 조건일 때만 실행되는 코드 구조

In [53]:
# 각 인덱스를 불러와 합격 여부를 조회할 수 있다.

score = [72, 83, 98, 66, 86]

if score[1] >= 80:
  print('합격')

합격

In [127]:
# elif는 후순위 조건이며, else는 조건문을 제외한 모든 조건을 갖는다.

score = [72, 83, 98, 66, 86]
grade = ['S', 'A', 'B', 'C']

if score[3]>=96:
  print(grade[0])
elif score[3]>=90:
  print(grade[1])
elif score[3]>=80:
  print(grade[2])
else:
  print(grade[3])

C

### 연습 문제  
홀수 여부를 나타내는 if문을 작성한다.

<details>
<summary> Hint </summary>  

```
num = [1,2,3,4,5,6,7,7.3]

if num[-1] % 2 == 1:
  print('홀수')
elif num[-1] % 2 == 0:
  print('짝수')
else:
  print('정수를 입력하세요.')
```

</details>

In [133]:
for i in score:
  if (i % 2) == 0:
    print('짝수', i, end = ', ')
  else:
    print('홀수', i, end = ', ')
  print()

짝수 72, 홀수 83, 짝수 98, 짝수 66, 짝수 86,

### for 반복문  
지정된 범위를 순차적으로 호출하여 반복 실행한다.

In [140]:
num = [1,2,3,4,5,6,7,8,9]

for i in num:
  print(i, end = ', ')

1, 2, 3, 4, 5, 6, 7, 8, 9,

In [160]:
# for문을 2중으로 쌓을 수 있다. 그 이상도 가능하지만, 2중 for문 내로 해결하는 것이 좋다.

di = {}

for i in num:
  di[str(i) + '단'] = []
  for j in num:
    di[str(i) + '단'].append(i * j)

print(type(di), di)
di['7단'][5]

for i in range(1, 10):
  print(str(i) +'단: ', di[str(i) +'단'])

<class 'dict'> {'1단': [1, 2, 3, 4, 5, 6, 7, 8, 9], '2단': [2, 4, 6, 8, 10, 12, 14, 16, 18], '3단': [3, 6, 9, 12, 15, 18, 21, 24, 27], '4단': [4, 8, 12, 16, 20, 24, 28, 32, 36], '5단': [5, 10, 15, 20, 25, 30, 35, 40, 45], '6단': [6, 12, 18, 24, 30, 36, 42, 48, 54], '7단': [7, 14, 21, 28, 35, 42, 49, 56, 63], '8단': [8, 16, 24, 32, 40, 48, 56, 64, 72], '9단': [9, 18, 27, 36, 45, 54, 63, 72, 81]}
1단:  [1, 2, 3, 4, 5, 6, 7, 8, 9]
2단:  [2, 4, 6, 8, 10, 12, 14, 16, 18]
3단:  [3, 6, 9, 12, 15, 18, 21, 24, 27]
4단:  [4, 8, 12, 16, 20, 24, 28, 32, 36]
5단:  [5, 10, 15, 20, 25, 30, 35, 40, 45]
6단:  [6, 12, 18, 24, 30, 36, 42, 48, 54]
7단:  [7, 14, 21, 28, 35, 42, 49, 56, 63]
8단:  [8, 16, 24, 32, 40, 48, 56, 64, 72]
9단:  [9, 18, 27, 36, 45, 54, 63, 72, 81]

### for + if 활용

for문과 if문은 서로 혼용하여 쓸 수 있다.

In [57]:
# 홀수와 짝수 분류하기

odd = []
even = []

for i in range(1,31):
  if i % 2 == 1:
    odd.append(i)
  elif i % 2 == 0:
    even.append(i)

print('홀수:', odd, '짝수:', even)

홀수: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29] 짝수: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

### 리스트 컴프리헨션  
리스트 안에서 반복문과 조건문을 사용하여 간결한 코드를 사용할 수 있다.

[ 결과값 for 사용변수 in 범위]  
[ 결과값 if 조건문 else 조건 외 값 for 사용변수 in 범위]

In [58]:
# 반복문을 통해 숫자 1~100까지 리스트에 저장

x = [i for i in range(1,101)]
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [59]:
# 3의 배수만 저장

mul3 = [i * 3 for i in range(10)]
mul3

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [166]:
# 반복문 + 조건문 결합하여 홀수 짝수 분류

odd = [i for i in range(1, 101) if i % 2 == 1]
print(odd)
even = [i for i in range(1, 101) if i % 2 == 0]
print(even)
odd_even = [str(i) + ':홀수' if i % 2 == 1 else str(i) + ':짝수' for i in range(1, 31)]
print(odd_even)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
['1:홀수', '2:짝수', '3:홀수', '4:짝수', '5:홀수', '6:짝수', '7:홀수', '8:짝수', '9:홀수', '10:짝수', '11:홀수', '12:짝수', '13:홀수', '14:짝수', '15:홀수', '16:짝수', '17:홀수', '18:짝수', '19:홀수', '20:짝수', '21:홀수', '22:짝수', '23:홀수', '24:짝수', '25:홀수', '26:짝수', '27:홀수', '28:짝수', '29:홀수', '30:짝수']

# 핵심 리마인드

- 튜플(tuple): 수정 불가, 고정된 값을 저장하는 자료형
- 리스트[list]: 수정 가능, 데이터를 가공하는 기본적 자료형
- 딕셔너리{Key:Value}: 수정 가능, Key를 통해 Value에 접근하는 자료형

- if 조건문: 조건에 따라 데이터 출력
- for 반복문: 데이터를 순차적으로 처리하여 출력
- 리스트 컴프리헨션: 반복문 조건문을 리스트 한 줄로 출력

## 종합 연습 문제  

| name | age | score |
| -- | -- | -- |
| guhyeon | 14 | 65 |
| kim | 16 | 74 |
| na | 15 | 98 |
| park | 19 | 82 |
| lee | 18 | 86 |


학생 정보 데이터를 바탕으로

1. 'na' 학생의 점수를 조회
2. 학생들의 점수를 리스트에 저장
3. A = 90점 이상, B = 80점 이상, C = 70점 이상 그 외 D를 리스트 컴프리헨션으로 작성

In [61]:
students = [{'name':'guhyeon', 'age':14, 'score':65},
            {'name':'kim', 'age':16, 'score':74},
            {'name':'na', 'age':15, 'score':98},
            {'name':'park', 'age':19, 'score':82},
            {'name':'lee', 'age':18, 'score':86}]

In [175]:
# 1. 'na' 학생의 점수를 조회
print(students[2]['score'])
for i in students:
  if i['name'] == 'na':
    print(i['name'], i['score'])

98
na 98

In [176]:
# 2. 학생들의 점수를 리스트에 저장
scores = [i['score'] for i in students]
scores

[65, 74, 98, 82, 86]

In [ ]:
# 3. A = 90점 이상, B = 80점 이상, C = 70점 이상 그 외 D를 리스트 컴프리헨션으로 작성

In [180]:
grades = ['A' if 90 <= i['score'] else
          'B' if 80 <= i['score'] else
          'C' if 70 <= i['score'] else
          'D' for i in students]
grades

['D', 'C', 'A', 'B', 'B']

In [182]:
for i in students:
  if 90 <= i['score']:
    print(i['name'], i['score'], 'A')
  elif 80 <= i['score']:
    print(i['name'], i['score'], 'B')
  elif 70 <= i['score']:
    print(i['name'], i['score'], 'C')
  else:
    print(i['name'], i['score'], 'D')

guhyeon 65 D
kim 74 C
na 98 A
park 82 B
lee 86 B

<details> <summary> 풀이 </summary>  

```
students[1]['score']
```

```
scores = [i['score'] for i in students]
scores
```

```
grades = ['A' if 90 <= i else 'B' if 80 <= i else 'C' if 70 <= i else 'D' for i in scores]
grades
```